{
  "src/**/*.{json,css,scss,md}": [
    "prettier --write --ignore-unknown --cache --cache-strategy metadata"
  ],
  "src/**/*.{js,jsx,ts,tsx}": [
    "prettier --write --ignore-unknown --cache --cache-strategy metadata",
    "eslint --fix --cache --max-warnings=0"
  ]
}
